<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzoc7aalHhMAw2SYAK1g_TvI9cburoVBg</string>
	<key>GCM_SENDER_ID</key>
	<string>61573360056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binus.FlavorFlip</string>
	<key>PROJECT_ID</key>
	<string>flavorflip-4212e</string>
	<key>STORAGE_BUCKET</key>
	<string>flavorflip-4212e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61573360056:ios:d2f1d56fb7fe4690cd074d</string>
</dict>
</plist>